*{
  padding: 0px;
  margin: 0px;
  
}
 
.main-component{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 
.heading{
  padding : 50px;
  font-family: sans-serif;
}
 
.main-segment{
  width: 100%;
  text-align: center;
  height: 75%;
}
 
.card{
  
  display: flex;
  flex-direction: column;
  gap :2rem;
 align-content: space-around;
  border : 1px solid black;
  width : 200px;
  height: 200px;
  margin : 12px;
}
 
.card-container{
  display: grid;
  gap :1rem;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
}